[project]
	description = myFirstRepository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/singhrajesh25
[access "refs/for/refs/*"]
	read = group user/singhrajesh25
	push = group user/singhrajesh25
	label-Code-Review = -2..+2 group user/singhrajesh25
	label-Verified = -1..+1 group user/singhrajesh25
	rebase = group user/singhrajesh25
	removeReviewer = group user/singhrajesh25
	submit = group user/singhrajesh25
[access "refs/heads/*"]
	read = group user/singhrajesh25
	create = group user/singhrajesh25
	push = +force group user/singhrajesh25
	pushMerge = group user/singhrajesh25
[access "refs/tags/*"]
	push = group user/singhrajesh25
	push = +force group user/singhrajesh25
